@font-face {
  font-family: 'SF Pro Display Regular';
  src: font-url('SFProDisplay-Regular/SFProDisplay-Regular.eot');
  src: font-url('SFProDisplay-Regular/SFProDisplay-Regular.eot?.iefix') format('embedded-opentype'),
    font-url('SFProDisplay-Regular/SFProDisplay-Regular.woff2') format('woff2'),
    font-url('SFProDisplay-Regular/SFProDisplay-Regular.woff') format('woff'),
    font-url('SFProDisplay-Regular/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display Medium';
  src: font-url('SFProDisplay-Medium/SFProDisplay-Medium.eot');
  src: font-url('SFProDisplay-Medium/SFProDisplay-Medium.eot?.iefix') format('embedded-opentype'),
    font-url('SFProDisplay-Medium/SFProDisplay-Medium.woff') format('woff'),
    font-url('SFProDisplay-Medium/SFProDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display Bold';
  src: font-url('SFProDisplay-Bold/SFProDisplayBold.eot');
  src: font-url('SFProDisplay-Bold/SFProDisplayBold.eot') format('embedded-opentype'),
    font-url('SFProDisplay-Bold/SFProDisplayBold.woff2') format('woff2'),
    font-url('SFProDisplay-Bold/SFProDisplayBold.woff') format('woff'),
    font-url('SFProDisplay-Bold/SFProDisplayBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display Light';
  src: font-url('SFProDisplay-Light/SFProDisplay-Light.eot');
  src: font-url('SFProDisplay-Light/SFProDisplay-Light.eot?.iefix') format('embedded-opentype'),
    font-url('SFProDisplay-Light/SFProDisplay-Light.woff') format('woff'),
    font-url('SFProDisplay-Light/SFProDisplay-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display Semibold';
  src: font-url('SFProDisplay-Semibold/SFProDisplay-Semibold.eot');
  src: font-url('SFProDisplay-Semibold/SFProDisplay-Semibold.eot?.iefix') format('embedded-opentype'),
    font-url('SFProDisplay-Semibold/SFProDisplay-Semibold.woff') format('woff'),
    font-url('SFProDisplay-Semibold/SFProDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
