@import "font-awesome";
@import 'iconFonts';
@import 'stylesheet';

.navbar-header > .navbar-brand {
  margin-left: -13px;
}

.radio label input[type=radio],
.checkbox label input[type=checkbox] {
  margin-right: 5px;
}

.table-half-rem-x-padding {
  td, th {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

#options .option-control {
  margin-top: 28px;
}

.remove-option-btn {
  margin-top: 7px;
}

.select2-selection__choice {
  margin: 6px 0 6px;
}

.select2-container--classic span.select2-selection--multiple,
.select2-container--default span.select2-selection--multiple {
  padding-bottom: 0px !important;
}

.has-error .help-block {
  color: red;
}
