#navbar-mobile {
  // justify-content: right;
  float: right !important;
}
div.navbar-header {
  left: 8% !important;
}

.open > .dropdown-menu {
   transform: scale(1, 1);
   opacity: 1;
   display: block !important; 
}

#sticky-wrapper {
  position: sticky;
  top: 0;
  z-index: 9999;
}