.filter-form {
  padding-bottom: 10px;
}

.font-awesome-select {
  font-family: 'FontAwesome', "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.sale-tools-icons {
  font-family: 'icomoon';
}

.filter-tooltip {
  border-bottom: {
    width: 1px;
    style: dotted;
    color: grey;
  }
}
