.widget-insertion {
  border-width: 1px;
  border-style: dashed;
  border-color: grey;
  background-color: transparent;
  color: grey;
}

.widget_connections .ui-sortable-helper .card {
  border-width: 1px;
  border-style: dashed;
  border-color: grey;
  cursor: move;
}
