= f.input :first_name, autofocus: true
= f.input :last_name
= f.input :email
= f.input :role , collection: User.roles_for_select, include_blank: false
= f.button :submit, 'Add', class: "btn btn-primary"