.home-back-image{
  color: rgb(255, 255, 255);
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url('/images/landing_home.jpg');
  background-position: center 10%;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 120px;
}

.space-between {
  -webkit-box-pack: justify !important;
  justify-content: space-between !important;
}
