.land-font{
  font-family: 'Raleway', sans-serif !important;
}
.home-back {
  color: rgb(255, 255, 255);
  height: 100%;
}

.image1{
  background: linear-gradient(rgba(0, 0, 0, 0.16), rgba(0,0,0,.16)),url('landing_back1.jpeg') no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.image2{
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url('landing_back2.jpeg') no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landing-cont-back1{
  margin: 0;
  background: rgba(42, 25, 211, 0.16);
  text-align: center;
}

.landing-cont-back2{
  margin: 0;
  background: rgba(93, 255, 245, 0.13);
  text-align: center;
}

.landing-cont-back3{
  background: rgba(255, 255, 255, 0.45);
  text-align: center;
  font-size: 30px;
}

.space-between {
  -webkit-box-pack: justify !important;
  justify-content: space-between !important;
}

.landing-part1{
  padding-top: 30% !important;
  padding-bottom: 60% !important;
}

.landing-part2{
  padding-top: 10% !important;
}
