.home-back {
  color: rgb(255, 255, 255);
  background-position: center 10%;
  background-size: cover;
  height: 600px
}
.image1{
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url('/images/landing_back.jpeg');
  background-attachment:fixed;
}

.image2{
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url('/images/landing_back2.jpeg');
  background-attachment:fixed;
}

.landing-cont-back1{
  background: rgba(255, 255, 255, 0.45);
  text-align: right;
}

.landing-cont-back2{
  background: rgba(93, 255, 245, 0.13);
  text-align: right;
}

.landing-cont-back3{
  background: rgba(255, 255, 255, 0.45);
  text-align: center;
  font-size: 30px;
}

.space-between {
  -webkit-box-pack: justify !important;
  justify-content: space-between !important;
}

.landing-part1{
  padding-top: 60% !important;
  padding-bottom: 30% !important;
}

.landing-part2{
  padding-top: 30% !important;
}
